In [1]:
# Python 샘플 코드 #

from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
import pandas as pd
import json

def baro_api(skey,res_id,encode):
  stype='json'
  url = 'http://apis.data.go.kr/B553077/api/open/sdsc/baroApi'
  params= f'?&ServiceKey={skey}&type={stype}&resId={res_id}&'+encode
  query=url+params
  #print(query)
  request = Request(query)
  request.get_method = lambda: 'GET'
  response_body = urlopen(request).read()
  #print(response_body)
  response_dict=json.loads(response_body.decode('utf-8'))
  items=response_dict['body']['items']
  df=pd.DataFrame(items)
  return df

- 지정 상권 조회

In [ ]:
encode=urlencode({ quote_plus('Key') : '573'})
res_id='storezone'
skey='HVVYG52ZT%2F%2F7CeAPBGVcpew7naNpeHF6WP4rncas3R9BmUxmeplNR6C1GZOP8%2Bwielt8AGr79oSemCiQ%2FbYe3A%3D%3D'
baro_api(skey,res_id,encode)

   trarNo  ...      stdrDt
0     573  ...  2015-12-17

[1 rows x 10 columns]

- 반경 내 상권 조회

In [ ]:
encode=urlencode({ quote_plus('catId') : 'radius', quote_plus('radius') : '500',quote_plus('cx') : '127.004528', quote_plus('cy') : '37.567538'})
baro_api(skey,res_id,encode)

   trarNo  ...      stdrDt
0    2214  ...  2015-12-17
1    2216  ...  2015-12-17
2    2207  ...  2015-12-17
3    2226  ...  2015-12-17
4    2225  ...  2015-12-17

[5 rows x 10 columns]

- 행정구역 단위 상권조회

In [ ]:
encode=urlencode({ quote_plus('catId') : 'dong', quote_plus('divId') : 'adongCd',quote_plus('key') : '1168069000'})
baro_api(skey,res_id,encode)

   trarNo  ...      stdrDt
0    1784  ...  2015-12-17

[1 rows x 10 columns]